<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="refresh"
      content="0; url=http://resume.marcfranquesa.com/resume-marcfranquesa.pdf"
    />
    <script type="text/javascript">
      window.location.href =
        "http://resume.marcfranquesa.com/resume-marcfranquesa.pdf";
    </script>
    <title>Marc Franquesa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Redirecting to Marc Franquesa's resume." />
  </head>
  <body>
    If you are not redirected automatically, follow this
    <a href="http://resume.marcfranquesa.com/resume-marcfranquesa.pdf" aria-label="Redirect to resume"
      >link</a
    >.
  </body>
</html>
